{% extends 'base.html.twig' %}


{% block body %}
	<iframe src="index.php?p=menu">
	<iframe src="index.php?p=home" name="contents" title="Main contents">

	<ol>
  		<li>Apple</li>
		</ol>
	<ol>
  		<li>Strawberry</li>
	</ol>
	<table border="1">
		<caption>Contact Information</caption>
		<tr>
			<td></td>
			<th scope="col">Name</th>
			<th scope="col">Phone#</th>
			<th scope="col">City</th>
		</tr>
		<tr>
			<td>1.</td>
			<th scope="col">Joel Garner</th>
			<td>412-212-5421</td>
			<td>Pittsburgh</td>
		</tr>
		<tr>
			<td>2.</td>
			<th scope="col">Clive Lloyd</th>
			<td>410-306-1420</td>
			<td>Baltimore</td>
		</tr>
	</table>
	<em>Emphasized Text
		<span aria-hidden="true">foo</span>
		<div id='header'></div>
		<img src="https://placehold.co/400" alt="test"/>
		<video id="video" controls preload="metadata" alt="test">
			<source src="https://cdn.pixabay.com/video/2024/11/09/240531_large.mp4" type="video/mp4">
			<track src="subtitles-en" kind="subtitles" srclang="en" label="English">
			<track src="description" kind="descriptions" srclang="en" label="Audio Description">
		</video>
		<script>
			{{ include('home/index.js') }}
		</script>
	{% endblock %}
