{% extends 'base.html.twig' %}


{% block body %}
	<frame src="index.php?p=menu">
	<frame src="index.php?p=home" name="contents">
	<li>Apple</li>
	<li>Strawberry</li>
	<table border="1">
		<caption>Contact Information</caption>
		<tr>
			<td></td>
			<th>Name</th>
			<th>Phone#</th>
			<th>City</th>
		</tr>
		<tr>
			<td>1.</td>
			<th>Joel Garner</th>
			<td>412-212-5421</td>
			<td>Pittsburgh</td>
		</tr>
		<tr>
			<td>2.</td>
			<th>Clive Lloyd</th>
			<td>410-306-1420</td>
			<td>Baltimore</td>
		</tr>
	</table>
	<em>Emphasized Text
		<span aria-hidden="ok">foo</span>
		<div id='header'></div>
		<center>
			Ce texte sera centré.
			<p>Ainsi que ce paragraphe.</p>
		</center>
		<img src="https://placehold.co/400"/>
		<video id="video" controls preload="metadata" alt="test">
			<source src="https://cdn.pixabay.com/video/2024/11/09/240531_large.mp4" type="video/mp4">
		</video>
		<script>
			{{ include('home/index.js') }}
		</script>
	{% endblock %}
